n8n/workflows/03-document-processor.json
{
  "name": "Document Processor - OCR & Validation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-document",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Process Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "documents",
        "filterType": "string",
        "filterString": "id=eq.{{ $json.body.document_id }}",
        "options": { "queryLimit": 1 }
      },
      "id": "fetch-document",
      "name": "Fetch Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "document_id", "value": "={{ $json.id }}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "call-process-api",
      "name": "Call Process API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.result && $json.result.status }}",
              "operation": "equal",
              "value2": "exception"
            }
          ]
        }
      },
      "id": "needs-llm-remap",
      "name": "Needs LLM Remap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300],
      "notes": "Routes to the Gemini-based smart mapper when the regex extractor flagged the document as exception (e.g. unrecognised header layout, SKU column mis-identified)."
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/process/llm-remap",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "document_id", "value": "={{ $json.document_id }}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "call-llm-remap",
      "name": "LLM Smart Mapper (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "notes": "Calls /api/process/llm-remap which sends the OCR text to Gemini with explicit column-mapping rules (Product Code -> sku_code, Item/Description -> description, Qty -> quantity, etc.) and rewrites invoice_lines / order_lines."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.new_status }}",
              "operation": "equal",
              "value2": "exception"
            }
          ]
        }
      },
      "id": "still-exception",
      "name": "Still Exception After LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "processing_logs",
        "columns": "document_id,step_name,status",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1400, 100],
      "credentials": { "postgres": { "id": "supabase-db", "name": "Supabase DB" } }
    },
    {
      "parameters": {
        "url": "={{ $env.APP_URL }}/api/webhooks/scanner",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "error", "value": "LLM remap failed or produced no line items" },
            { "name": "document_id", "value": "={{ $json.document_id }}" }
          ]
        },
        "options": {}
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Process Trigger": { "main": [[{ "node": "Fetch Document", "type": "main", "index": 0 }]] },
    "Fetch Document": { "main": [[{ "node": "Call Process API", "type": "main", "index": 0 }]] },
    "Call Process API": { "main": [[{ "node": "Needs LLM Remap?", "type": "main", "index": 0 }]] },
    "Needs LLM Remap?": {
      "main": [
        [{ "node": "LLM Smart Mapper (Gemini)", "type": "main", "index": 0 }],
        [{ "node": "Log Success", "type": "main", "index": 0 }]
      ]
    },
    "LLM Smart Mapper (Gemini)": {
      "main": [[{ "node": "Still Exception After LLM?", "type": "main", "index": 0 }]]
    },
    "Still Exception After LLM?": {
      "main": [
        [{ "node": "Log Failure", "type": "main", "index": 0 }],
        [{ "node": "Log Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "document-processing" }, { "name": "pipeline" }, { "name": "llm-mapper" }]
}
